<div class="container ">
  <p-card>
    <div class="container row">

      <div class="col-md-4 col-md-offset-4">
        <p-card title="Kevin Cardenas Acevedo"
                class=s
                ubtitle="Subtitle"
                [style]="{width: '50%',heigth:'50%'}"
                styleClass="ui-card-shadow">
          <p-header>
            <img src="Card"
                 src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.0-9/10947217_420679521429992_7939568412697034894_n.jpg?_nc_cat=0&oh=2281ab8a0f9503d2a2a9a5f5b726bbc3&oe=5BCBC379">
          </p-header>
          <div>
            <button pButton
                    label="Logout"
                    (click)="signOut()"
                    icon="fa fa-sign-out"></button>
          </div>

        </p-card>
      </div>

    </div>

  </p-card>


</div>